*, 
*::before, *::after { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    background-image: radial-gradient(circle, #dadada, #93a0c6);
}

nav {
    overflow: hidden;
    display: grid;
    height: 100%;
    width: 190px;
    margin-left: 40px;
    position: fixed;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

nav a {
    /*background: #ffff;*/
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    width: 200px;
}

nav a:hover {
    color: aliceblue;
}

nav a:active {
    /*color: aliceblue;*/
}

section {
    display: grid;
    justify-content: flex-end;
    padding: 130px;
    margin-left: 260px;
    border: solid black 1px;
}
