*, 
*::before, *::after { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #78687A;
}

nav {
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a {
    background: #ffff;
    color: #000000;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 15px;
}

nav a:hover {
    background-color: black;
    color: rgb(255, 255, 255);
}

nav a:active {
    background-color: aliceblue;
    color: aliceblue;
}